include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include insider_frappe *.css
recursive-include insider_frappe *.csv
recursive-include insider_frappe *.html
recursive-include insider_frappe *.ico
recursive-include insider_frappe *.js
recursive-include insider_frappe *.json
recursive-include insider_frappe *.md
recursive-include insider_frappe *.png
recursive-include insider_frappe *.py
recursive-include insider_frappe *.svg
recursive-include insider_frappe *.txt
recursive-exclude insider_frappe *.pyc